.task-item{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.taskTitle{
    margin: 0.4rem;
    font-size: 2rem;
    gap: 20px;
}
.descriptionTask{
font-size: 1.6rem;
margin: 0.4rem;
}
.infoTasks{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    gap: 18rem;
}
.checksContainer{
width: 10%;
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.checks{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    margin-top: 0.7rem;

}
input[type="checkbox"] {
 border: 3px solid #3f009cbd;
    background-color: #25005e;
    appearance: none;
  }

  
